{
  "proseWrap": "always",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 300,
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf"
}
