@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    text-decoration: none;
    font-family: var(--main-front);
}

html{
    scroll-behavior: smooth;
}

:root{
    --main-front: "Mulish", sans-serif;
    --main-color: #2C2B34;
    --other-main-color: #fff;
    --text-color: #000;
    --block-card-color: #AE4040;
    --body-color: #F5F8FA;
    --index: calc(1vw + 1vh);
    --border-color: #B6B6B6;
    --other-text-color: #8E8E8E;
} 

/* ::-webkit-scrollbar{
    width: 10px;
    background-color: #2c2c2c;
}
::-webkit-scrollbar-thumb{
    background-color: #9f9f9f;
    border-radius: 120px;
} */

body{
    background-color: var(--body-color);
    /* background-color: red; */
} 

.app{
    width: 100%;
    /* background-color: var(--other-main-color); */
    height: auto;
}

/* Добавь это в стиль */

.cursor-chart{
    cursor: grabbing;
}
.chart-container {
    cursor: crosshair;
}

.navbar{
    width: 100%;
    height: calc(var(--index)*3);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    cursor: auto;
}

.none-nav{
    display: none;
}

.logo{
    width: 50px;
    height: 50px;
    background: url(/public/images/ahsan.jpg) center/cover;
    border-radius: 100%;
}

.list > svg{
    color: var(--other-main-color);
    cursor: pointer;
}

a{
    text-decoration: none;
}

@import "./Navbar.css";
@import "./Main.css";
@import "./Footer.css";