  .container-loader {
    width: 91.3vw;
    height: calc(var(--index)*13);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .loader {
    border: calc(var(--index)*0.5) double #2f2f2f;
    border-radius: 100%;
    border-top: calc(var(--index)*0.5) double var(--other-main-color);
    width: calc(var(--index)*4);
    height: calc(var(--index)*4);
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }