.main1{
    width: 100%;
    background-color: var(--other-main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--other-main-color);
    margin: 0 auto;
    gap: 15px;
}

.image{
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* padding: 3px 0; */
}

.image img{
    width: 100%;
    object-fit: contain;
}

.card{
    width: 100%;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    padding: 3px;
    background-color: #0B0B0C;
    margin: 0 auto;
}

.nav-card{
    width: 100%;
    height: 30px;
    background-color: #1FC1A3;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 5px 8px;
    border-radius: 10px 10px 0 0; 
    gap: 5px;
}

.nav-card img{
    width: 20px;
    filter: drop-shadow(0px 0px 5px black);
}

.nav-card big{
    font-size: 11px;
    color: #0B0B0C;
    font-family: var(--main-front);
    font-weight: 700;
}

.nav-card p{
    font-family: var(--main-front);
    color: #0B0B0C;
    font-weight: 400;
    font-size: 13px;
}

.salary{
    padding: 3px 15px;
    background-color: #0B0B0C;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    gap: 30px;
    color: #fff;
    border-radius: 5px;
}


.salary i{
    font-family: var(--main-front);
    font-weight: 600;
    font-style: normal;
}

.salary i:nth-child(2){
    color: #F1434F;
}

.salary::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #fff;
    top: 50%;
    left: 52%;
    transform: translate(-60%, -50%);
}

.icons{
    display: flex;
    gap: 5px;
    align-items: center;
}

.icons svg{
    color: #0B0B0C;
}

.icons svg:nth-child(2n + 1){
    color: rgba(0, 0, 0, 0.719);
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 16px;
}

.nav2 span{
    color: #F1434F;
}

.method{
    padding: 5px;
    font-size: 11px;
    font-family: var(--main-front);
    font-weight: 500;
    color: #EBF3FFE6;
    background-color: #ADC8EB24;
    border-radius: 5px;
}

.method2{
    color: #F1434F;
    background-color: #C11F2A33;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav2 p{
    font-size: 13px;
    color: #EBF3FFE6;
    font-family: var(--main-front);
    font-weight: 500;
}

.text{
    padding: 0 20px 30px 20px;
    color: #EBF3FFE6;
    font-family: var(--main-front);
    font-size: 13px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}

.btns > button{
    width: 40px;
    height: 40px;
    color: #F1434F;
    background-color: transparent;
    border: 2px solid #F1434F;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.25s ease;
}

.btns > button.active{
    background-color: #F1434F;
    color: #fff;
    box-shadow: 0px 0px 10px #F1434F;
}