nav {
    width: 74%;
    height: auto;
}

.nav-bar {
    width: 96%;
    padding: calc(var(--index)*1.5) calc(var(--index)*1.5);
    background-color: var(--other-main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    border-radius: calc(var(--index)*0.5) calc(var(--index)*0.5) 0 0;
}


.warning-alert{
    width: 96%;
    margin: 0 auto;
    height: calc(var(--index)*4);
    background-color: var(--block-card-color);
    transform: translateY(calc(var(--index)*0.7));
    border-radius: calc(var(--index)*0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--index)*0.5) calc(var(--index)*3);
}

.war-texts{
    width: calc(var(--index)*30);
    padding-right: calc(var(--index)*0.5);
}

.war-texts > h3{
    position: relative;
    font-size: calc(var(--index)*1);
    font-weight: 500;
    color: var(--other-main-color);
}

.war-texts h3 > svg{
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: calc(var(--index)*-1.2);
    font-size: calc(var(--index)*1);
}

.war-texts > p{
    color: var(--other-main-color);
    font-size: calc(var(--index)*0.7);
    font-weight: 300;
}

.war-options{
    display: flex;   
    align-items: center;
    justify-content: center;
    gap: calc(var(--index)*3);
    height: 65%;
    position: relative;
}

.war-options a > button{
    width: calc(var(--index)*5);
    border: calc(var(--index)*0.05) solid var(--border-color);
    font-size: calc(var(--index)*0.65);
    padding: calc(var(--index)*0.3) calc(var(--index)*0.8);
    color: var(--other-main-color);
    border-radius: calc(var(--index)*0.2);
    font-weight: 500;
    cursor: pointer;
}

.war-options::after{
    content: "";
    position: absolute;
    width: calc(var(--index)*0.05);
    height: 100%;
    background-color: var(--border-color);
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.war-options > svg{
    font-size: calc(var(--index)*1.2);
    color: var(--other-main-color);
    cursor: pointer;
}

.tex h1 {
    font-size: calc(var(--index)*1.2);
    font-weight: 500;
}

.tex p {
    font-size: calc(var(--index)*0.8);
    font-weight: 300;
}

.nav {
    width: 100%;
    height: calc(var(--index)*3.5);
    background-color: var(--other-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--index)*1.5);
    position: relative;
    z-index: 102;
}

.logo-name {
    font-size: calc(var(--index)*1.2);
    font-weight: 900;
}

.logo-name a{
    color: var(--text-color);
}

.options {
    display: flex;
    align-items: center;
    gap: calc(var(--index)*1);
}

.options button {
    background-color: var(--main-color);
    color: var(--other-main-color);
    font-size: calc(var(--index)*0.9);
    width: calc(var(--index)*6);
    height: calc(var(--index)*2);
    border-radius: calc(var(--index)*6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index)*0.5);
    cursor: pointer;
}

.options>svg {
    font-size: calc(var(--index)*1.35);
    color: var(--text-color);
    cursor: pointer;
}
.options a>svg {
    font-size: calc(var(--index)*1.35);
    color: var(--text-color);
    cursor: pointer;
}

.dropdown-icon {
    font-size: calc(var(--index)*1);
}

.nav h3{
    font-size: calc(var(--index)*1.2);
    font-weight: 600;
}

.options-div {
    width: 100%;
    background-color: var(--other-main-color);
    padding: calc(var(--index)*0.5) 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--other-main-color);
    border-radius: calc(var(--index)*0.5);
    -webkit-box-shadow: 0 0 calc(var(--index)*0.4) calc(var(--index)*-0.2) rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 calc(var(--index)*0.4) calc(var(--index)*-0.2) rgba(0, 0, 0, 1);
    box-shadow: 0 0 calc(var(--index)*0.4) calc(var(--index)*-0.2) rgba(0, 0, 0, 1);
    gap: calc(var(--index)*1);

}

.filter-svg {
    font-size: calc(var(--index)*1.1);
    cursor: pointer;
}

.custom-select {
    width: calc(var(--index)*5);
    position: relative;
    display: flex;
    left: 0;
    gap: calc(var(--index)*0.3);
    align-items: center;
}

.custom-select:nth-child(1) {
    width: calc(var(--index)*9);
}

.custom-select:nth-child(2) {
    width: calc(var(--index)*9);
}

.div:nth-child(3) {
    width: calc(var(--index)*5);
}

.div:nth-child(4) {
    width: calc(var(--index)*7.5);
}

.div:nth-child(2) {
    width: calc(var(--index)*13);
}

.custom-select-label {
    display: block;
    color: var(--text-color);
    font-size: calc(var(--index)*0.75);
    font-weight: 500;
}

.custom-select-trigger {
    padding: calc(var(--index)*0.5);
    border: calc(var(--index)*0.05) solid var(--border-color);
    background-color: var(--other-main-color);
    color: var(--text-color);
    border-radius: calc(var(--index)*0.25);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--index)*1.8);
    position: relative;
}

.custom-select-trigger span {
    color: var(--text-color) !important;
}

.custom-options {
    position: absolute;
    top: calc(var(--index)*2.25);
    left: 0;
    width: 100%;
    border: calc(var(--index)*0.05) solid var(--border-color);
    background-color: var(--other-main-color);
    z-index: 100;
    overflow: hidden;
    border-radius: calc(var(--index)*0.25);
    padding: 0 calc(var(--index)*0.5);
    transform: translateY(0);
    font-size: calc(var(--index)*0.75);

}

.custom-option {
    padding: calc(var(--index)*0.5) 0;
    cursor: pointer;
    border-bottom: calc(var(--index)*0.05) solid var(--border-color);
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
.custom-option > svg{
    display: none ;
} */

.disabled{
    opacity: 0.6;
    pointer-events: none;
}

/* .disabled > svg{
    display: block !important;
} */

.custom-option:hover {
    background-color: var(--hover-color);
}

.nav-bar span {
    color: var(--other-text-color);
    font-weight: 300;
    font-size: calc(var(--index)*0.74);
}

.nav-bar svg {
    color: var(--other-text-color);
}

.div {
    display: flex;
    gap: calc(var(--index)*0.4);
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.video-btn {
    background-color: transparent !important;
    color: var(--block-card-color) !important;
    padding: calc(var(--index)*0.5) calc(var(--index)*0.3) !important;
    border: calc(var(--index)*0.1) solid var(--block-card-color);
    border-radius: calc(var(--index)*0.5) !important;
    font-size: calc(var(--index)*0.6) !important;
    width: auto !important;
}

.video-btn2{
    display: none !important;
}

.video-btn2 > svg{
    color: var(--block-card-color);
}

.video-btn>svg {
    font-size: calc(var(--index)*0.8) !important;
}

@media (max-width: 900px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--index)*1);
        justify-content: space-between;
    }

    nav {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .warning-alert{
        background-color: var(--other-main-color);
        border: calc(var(--index)*0.1) solid var(--block-card-color);
        transform: translateY(calc(var(--index)*0.45));
    }
    .war-texts p{
        color: var(--text-color);
    }
    .war-texts h3{
        color: var(--block-card-color);
    }
    .war-options a > button{
        color: var(--text-color);
    }
    .war-options > svg{
        color: var(--text-color);
    }
}

@media (max-width: 540px) {

    .nav{
        height: calc(var(--index)*4.3);
    }

    .options{
        gap: calc(var(--index)*2);
    }

    .options a > button{
        font-size: calc(var(--index)*1.3);
        width: calc(var(--index)*7);
        height: calc(var(--index)*2.5);
    }

    .options > svg{
        font-size: calc(var(--index)*1.8);
    }

    .tex h1{
        font-size: calc(var(--index)*1.5);
    }

    .tex p{
        font-size: calc(var(--index)*1.1);
    }

    .logo-name{
        font-size: calc(var(--index)*1.5);
    }

    .options-div{
        justify-content: space-between;
    }
    .custom-select {
        width: 100% !important;
        position: relative;
        display: flex;
        left: 0;
        gap: calc(var(--index)*0.3);
        align-items: flex-start;
        flex-direction: column;
    }

    .div {
        justify-content: center;
        width: calc(var(--index)*3.7) !important;
        flex-direction: column;
        align-items: flex-start;
    }

    .options-div {
        justify-content: space-around !important;
        align-items: center;
        padding: calc(var(--index)*0.5) calc(var(--index)*0.5);
    }

    .custom-select-trigger{
        width: 100%;
        height: calc(var(--index)*2);
        padding: calc(var(--index)*1) calc(var(--index)*0.4);
    }
    
    .custom-select-trigger > span{
        font-size: calc(var(--index)*0.87);
    }

    .div:nth-child(1){
        width: calc(var(--index)*9) !important;
    }

    .div:nth-child(2){
        width: calc(var(--index)*9.3) !important;
    }

    .custom-option{
        font-size: calc(var(--index)*0.9);
    }

    .dropdown-icon{
        font-size: calc(var(--index)*1.1);
    }

    .filter-svg{
        font-size: calc(var(--index)*1.6);
    }

    .options-div{
        height: calc(var(--index)*4);
    }

    .div > span{
        display: none;
    }

    .custom-select-label{
        display: none;
    }
    .texsss{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .video-btn2{
        background-color: transparent !important;
        color: var(--block-card-color) !important;
        padding: calc(var(--index)*0.3) calc(var(--index)*0.5) !important;
        border: calc(var(--index)*0.1) solid var(--block-card-color);
        border-radius: calc(var(--index)*0.5) !important;
        font-size: calc(var(--index)*1) !important;
        width: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        gap: calc(var(--index)*1);
        cursor: pointer;
        height: calc(var(--index)*2.5);
    }

    .video-btn2 > svg{
        font-size: calc(var(--index)*1.5);
    }

    .video-btn{
        display: none !important;
    }
}

@media (max-width: 390px) {
    .warning-alert{
        padding: calc(var(--index)*1) calc(var(--index)*1.5);
    }
}