.popav{
    width: 100%;
    height: 100dvh;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

.alert{
    width: calc(var(--index)*26.6);
    height: calc(var(--index)*12.8);
    background: var(--alert-color);
    box-shadow: 0 0 calc(var(--index)*1) rgba(0, 0, 0, 0.363);
    border-radius: calc(var(--index)*0.25);
    padding: calc(var(--index)*1.2) calc(var(--index)*1.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.alert h3{
    font-family: var(--other-main-font);
    font-size: calc(var(--index)*1.1);
    font-weight: 500;
    color: var(--new-text-color);
    line-height: calc(var(--index)*1.4);
}

.alert p{
    font-size: calc(var(--index)*0.8);
    font-weight: 400;
    color: var(--border-color);
    font-family: var(--other-main-font);
    line-height: calc(var(--index)*1);
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index)*0.5);
}

.btn-div > button{
    padding: calc(var(--index)*0.4) calc(var(--index)*0.6);
    background-color: var(--main-color);
    color: white;
    font-size: calc(var(--index)*0.8);
    border-radius: calc(var(--index)*0.25);
    cursor: pointer;
}

.btn-div > a > button{
    padding: calc(var(--index)*0.4) calc(var(--index)*0.6);
    background-color: var(--main-color);
    color: white;
    font-size: calc(var(--index)*0.8);
    border-radius: calc(var(--index)*0.25);
    cursor: pointer;
}

.btn-div > button:nth-child(1){
    background-color: var(--popav-text-color);
    color: var(--new-red-color);
}

.video-alert{
    width: calc(var(--index)*26);
    height: calc(var(--index)*17.4);
    background-color: var(--other-main-color);
    padding: calc(var(--index)*1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: calc(var(--index)*0.5);
    box-shadow: 0 0 calc(var(--index)*1) rgba(0, 0, 0, 0.301);
}

.textss{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 calc(var(--index)*0.5) 0;
}

.textss p{
    font-size: calc(var(--index)*1);
    font-weight: 400;
    color: var(--text-color);
}

.textss > svg{
    font-size: calc(var(--index)*1.5);
    color: var(--text-color);
    cursor: pointer;
}

.video-alert > iframe{
    border-radius: calc(var(--index)*0.25);
}

@media (max-width: 750px){
    .video-alert{
        width: calc(var(--index)*39);
        height: calc(var(--index)*25);
    }
}

@media (max-width: 500px) {
    .video-alert{
        width: calc(var(--index)*33);
        height: calc(var(--index)*21);
    }
}